@keyframes inputFocusOutlineAnimation {
  0% ,100% {@include elevationC($primary-color);}
  50% {@include elevationC(#00FF00);}
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@keyframes blazing {
  0% {
    border: 1px solid $primary-color
  }
  50%{
    border: 2px solid $primary-color
  }
  100%{
    border: 3px solid $primary-color
  }
}
@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
  }
}

@mixin btnGlowing {
  animation-name: glowing;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@mixin inputFocusAnimation {
  animation-name: inputFocusOutlineAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0,1.1,1,.89);
}
@mixin animationNeon {
  animation-name: neon;
  animation-duration: .10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
