
.btn{
  border-radius: 2px;
  border: 1px solid black;
  padding:2%;
  white-space: nowrap;
  @include elevation;
  @include transition-ease;
  &#{&}-primary{
    background-color: $primary-color;
    border-color: $primary-color;
    color: setTextColor($primary-color);
    &:hover{
      @include elevationHover;
      background-color:setHoverColor($primary-color);
    }
  }
  &#{&}-secondary{
    background-color: transparent;
    border-color: $primary-color;
    border-width: 2px;
    color: setTextColor($primary-color);
    &:hover{
      @include elevationHover;
      background-color:setHoverColor(rgba(0, 200, 83,.07));
    }
  }
  &#{&}-light{
    padding: 0;
    background-color: #5efc82;
    border-color: #5efc82;
    color: setTextColor(#5efc82);
    &:hover{
      @include elevationHover;
      background-color:setHoverColor(#5efc82);
    }
  }
  &#{&}-next{
    background-color: $primary-color;
    border-color: $primary-color;
    color: setTextColor($primary-color);
    &:hover{
      @include elevationHover;
      background-color:setHoverColor($primary-color);
    }

  }
  &#{&}-back{
    background-color: rgba(0,0,0,0);
    border-color: $primary-color;
    border-width: 2px;
    color: setTextColor(rgba(0,0,0,0));
    &:hover{
      @include elevationHover;
      background-color:setHoverColor(rgba(0,0,0,0.01));
    }
  }

  &#{&}-disabled{
    background-color: lightgrey;
    border: none;
    color: setTextColor(lightgrey);
    opacity: 38%;
    &:hover{
      box-shadow: none;
    }
  }
}
