.checkout{
  &-title{
    margin-top: 1rem;
    text-align: center;
  }
  &-container{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin-top: 10vh;
    margin-left: 30% ;
    margin-right: 30% ;
    .cart-item{
      border-top: 3px solid $primary-color;
      padding: 1rem;
      display: flex;
      justify-content: space-evenly;
      &-name{
        display: inline;
        float: left;
      }
      &-qty{
        display: inline;
      }
      &-price{
        display: inline;
      }
    }
    .checkout-address{

      .address{
        text-align:  center;
        margin: 1rem;
      }
    }
    .checkout-pay{
      .pay-disabled{
        text-align:  center;
        margin: 1rem;
      }
    }
    .checkout-final{
      &-container{
        display: flex;
        flex-direction: column;
        &-cart{
          .container-title{

          }
          padding: 1rem;
          @include elevation;
          margin-bottom: 1rem;
        }
        &-address{
          padding: 1rem;
          @include elevation;
          margin-bottom: 1rem;
        }
        &-pay{
          padding: 1rem;
          @include elevation;
          margin-bottom: 1rem;
        }
      }
    }

  }
  &-btns{
    margin-top: 1rem;
    display: block;

    text-align: center;
    padding:1rem;
    a{
      padding: 0.7rem;
    }
  }
}
