$primary-color:#00c853;
$secondary-color: #c81400;
$navbar-background: #fff;
$logReg-color : rgb(0, 0, 0, 0.5);
$text-ondark:#fff;
$text-onlight:#000;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1;
}
@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}
@mixin transition-cool {
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.52, 1.27);
}
@function setTextColor($color) {
  @if (lightness($color) > 40%) {
    @return $text-ondark;
  } @else {
    @return $text-onlight;
  }
}
@mixin media-sm {
  @media screen and (max-width:768px) {
    @content;
  }
}
@mixin media-md {
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1024px) and (max-width:1600px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}

@mixin elevation {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.10);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.10);
}
@mixin elevationHover {
  -webkit-box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.10);
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.10);
}
