
$centerSize: 100%;
$rightSize: 50%;
$leftSize: 0vw;

.homePage{

display: flex;
  .left-container{
    float: left;
    display: inline-block;
    height: 100%;
    width: $leftSize;
    .filters{
      &-shop-list{
        &-item{
          input{
            display:inline;
            padding: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
            width: 50%;
          }
          select{
            display:inline;
            padding: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
          }
          label{
            display:block;
            padding: 5px;
          }
        }
      }
    }
  }
  .center-container{
    flex-grow: 1;
    overflow-y:scroll;
    text-align-last: center;
    display: inline-block;
    height: 100%;
    width: $centerSize;
    background-color: lightgrey;
    margin-left: 10px;
    margin-right:10px;
    .products-list{
      display: grid ;
      grid-template-columns: repeat(3,1fr);
      grid-column-gap: 5px;
      grid-row-gap: 5px;
      margin:5px 4px 5px 4px;
      &-item{
        .card{
          &-body{
            .product-price{
              padding-top: 1rem;
              padding-bottom: 0.5rem;
              text-align-last: left;
              color: red;
            }
            .product-rate{
              padding-top: 0.5rem;
              padding-bottom: 0.5rem;
              text-align-last: left;
              .active{
                color: orange;
              }
            }
            .product-btns{
              padding: 4%;
              margin-bottom: 4%;
              overflow-wrap: normal;
              a{
                padding: 4%;
              }
            }
          }
        }
      }
    }
  }
  .right-container{
    .right-container-quit{display:none;}
    flex-basis: 50%;
    text-align-last: left;
    float: right;
    display: flex;
    @include transition-cool;
    &.widthChange{
      flex-basis: 0;
    }
    .cart-btn{
      align-self: center;
      padding-top: 50%;
      padding-bottom: 50%;
      margin-right: 1rem;
      @include elevation;
      @include transition-cool;
      &:hover{
        @include elevationHover;
      }
      &.cartwidthChange{
        transform: rotate(180deg);
      }
    }
    .cart-container{
      display: block;
      width: 100%;
      flex-grow: 1;
      font-size: 1rem;
    .cart{
      &.widthChange{
        width: 0;
      }
      &-title{
        padding-top: 1rem;
        padding-left: 1rem;
        span{
          float: right;
          padding-right: 1rem;
        }
      }
      &-list{
        margin-top: 10px;
        margin-left: 15px;
        width: 90%;
        border-collapse: collapse;
        &.widthChange{
          width: 0vw;
        }
        &-header{
          border-bottom: 1px solid black;
          padding-bottom: 5px;
          font-size: 1rem;
        }
        &-body{
          font-size: 1rem;
          td{
            padding: 10px;
          }
          margin-top: 5px;
        }
        &-foot{

          font-size: 1rem;
          &-cell{
            padding-top: 1rem;
          }
        }
      }
      &-checkout{
        font-size: 1rem;
        width: 50%;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        }
        &.widthChange{
          display: none;
          width: 0%;
        }
      }
    }
  }

}
.highlightLink{
  border-bottom: 1px solid rgba(240, 240, 240, 0.2);
  margin-bottom: 1rem;
}
