.login{

  height: 100vh;
  background-color: $logReg-color;

  &-container{
    display: flex;
    justify-content: center;
    align-items: center;
    .login-form{
      padding: 1rem;
      margin-top: 15vh;
      background-color: #fff;
      @include elevation;
      &-label{
        text-align: center;
        padding-bottom: 1rem;
        border-bottom: 1px solid lightgrey;
        font-size: 1.8rem;
      }
      &-inputGroup{
        width: 100%;
        padding: 1rem 0 1rem 0;
        label{
          padding-bottom: 1rem;
          font-size: 0.8rem;
          display: block;
        }
        input{
          width: 100%;
          padding: 0.5rem;
          height: 3rem;
          display: block;
          outline: none;
          border:none;
          @include inputOutline;
          @include transition-cool;
          &:focus{
            @include inputOutlineFocused;
            @include inputFocusAnimation;
          }
        }
      }
      &-btns{
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        button{
          width: 100%;
        }

      }
      &-links{

        padding-top: 1rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1rem;
        .forgotPassword{
          padding-top: 1rem;
          border-top: 1px solid rgba(240,240,240,1);
          display: inline-block;
          font-size: 0.8rem;
        }
        .linkToRegister{
          padding-top: 1rem;
          border-top: 1px solid rgba(240,240,240,1);
          display: inline-block;
          font-size: 0.8rem;
        }
      }
    }
  }
}
