.navbar{
  height: 7vh;
  border-radius: 2px;
  border-bottom: 1px solid black;
  &-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    &-brand{
      flex-grow: 1;
      &-logobrand{
        .brand{
          display: inline-block;
          font-size: 2rem;
          vertical-align: middle;
        }
        .logo{
          display: inline-block;
          max-height: 50px;
          margin: 2px;
          vertical-align: middle;
        }
      }
    }
    &-nav{
      flex-grow: 2;
      .search{
        display: inline;
        margin-right: 10px;
        &-bar{
          padding-left: 4px;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          display: inline;
          vertical-align: middle;
        }
        i{
          display: inline;
          vertical-align: middle;
          //background-color: $primary-color;
          margin: 0px 10px 0px 10px;
          height: 10px;
        }
      }
      .productFullList{
        display: inline;
        font-size: 1.5rem;
        vertical-align: middle;
      }
      .productDiscountList{
        display: inline;
        font-size: 1.5rem;
        vertical-align: middle;
      }
    }
    &-auth{
      flex-grow: 1;
      .auth-login{
        display: inline;
      }
      .auth-register{
        display: inline;
      }
    }
    }
}
