.register{
  height: 100vh;
  background-color: $logReg-color;
  &-container{
    display: flex;
    justify-content: center;
    align-items: center;

    .register-form{
      width: 20%;
      padding: 1rem;
      margin-top: 15vh;
      background-color: #fff;
      @include elevation;

      &-tab{
        width: 100%;
        .tab-label{
          text-align: center;
          padding-bottom: 1rem;
          border-bottom: 1px solid lightgrey;
        }
        display: none;
        &-inputGroup{
          width: 100%;
          padding: 1rem;
          label{
            width: 100%;
            padding-bottom: 1rem;
            display: block;
            font-size: 0.8rem
          }
          input{
            width: 100%;
            padding: 0.5rem;
            height: 3rem;
            display: block;
            outline: none;
            border:none;
            @include inputOutline;
            @include transition-cool;
            &:focus{
              @include inputOutlineFocused;
              @include inputFocusAnimation;
            }
          }
          .consent{
            display: inline;
            vertical-align: middle;
            -webkit-appearance: none;
            background-color: #fafafa;
            border: 1px solid #cacece;
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
            padding: 9px;
            border-radius: 3px;
            display: inline-block;
            position: relative;
            @include transition-ease;
            &:checked{
              background-color: #fafafa;
              border: 1px solid #adb8c0;
              box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
              color: #99a1a7;
              &:after{
                content: '\292B';
                font-size: 14px;
                font-weight: 800;
                position: absolute;
                top: 1px;
                left: 4px;
                color:black;
              }
            }
          }
          .consent-label{
            display: inline;
            vertical-align: middle;
            font-size: 0.6rem;
          }
        }
      }
      &-btns{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
      }
      &-links{

        padding-top: 1rem;
        display: block;
        .linkToLogin{
          text-align:  center;
          padding-top: 1rem;
          border-top: 1px solid rgba(240,240,240,1);
          display: block;
          font-size: 0.7rem;
        }
      }

    }
  }
}
.register-form-progress{
  padding-top: 1rem;
  text-align: center;
  display: block;
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: $primary-color;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.2;
    @include transition-cool;
    @include elevation;
  }
  .step.active {
    opacity: 1;
  }
}
