.userorder-title{
  padding: 2rem;
  font-size: 1.5rem;
}
.userorder{
  padding-top: 5vh;
  &-container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;


    .userorder-orderlist{

      border-collapse: collapse;
      width: 50vw;
      height: 100%;

      &-header{
        border-radius: 2px;
        background-color: rgba(240,240,240,1);
        border-bottom: 1px solid black;
        padding: 2rem;
        @include elevation;
        tr{
          &:hover{
            td{
              background-color: rgba(240,240,240,0.6);
            }
          }
          td{
            padding: 1rem;
          }
        }
      }
      &-body{
        border-bottom: 1px solid rgba(240,240,240,1);
        tr{
          td{
            padding: 1rem;
          }
        }
      }
    }
  }
}
