@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1;
}

@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .homePage .left-container {
    display: none;
  }
  .homePage .right-container {
    display: none;
  }
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
  .register-container {
    display: block;
  }
  .register-container .register-form {
    width: 50% !important;
  }

  .login-container {
    display: block;
  }
  .login-container .login-form {
    width: 50% !important;
  }
}
@media screen and (min-width: 0px) and (max-width: 639px) {
  .register-container .register-form {
    width: 100% !important;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    height: auto !important;
  }

  .login-container .login-form {
    width: 100% !important;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    height: auto !important;
  }
}
@keyframes inputFocusOutlineAnimation {
  0%, 100% {
    -webkit-box-shadow: 0px 0px 3px 1px #00c853;
    -moz-box-shadow: 0px 0px 3px 1px #00c853;
    box-shadow: 0px 0px 3px 1px #00c853;
  }
  50% {
    -webkit-box-shadow: 0px 0px 3px 1px #00FF00;
    -moz-box-shadow: 0px 0px 3px 1px #00FF00;
    box-shadow: 0px 0px 3px 1px #00FF00;
  }
}
.homePage {
  display: flex;
}
.homePage .left-container {
  float: left;
  display: inline-block;
  height: 100%;
  width: 12.5vw;
}
.homePage .left-container .filters-shop-list-item input {
  display: inline;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
}
.homePage .left-container .filters-shop-list-item select {
  display: inline;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.homePage .left-container .filters-shop-list-item label {
  display: block;
  padding: 5px;
}
.homePage .center-container {
  flex-grow: 1;
  overflow-y: scroll;
  text-align-last: center;
  display: inline-block;
  height: 100%;
  width: 50vw;
  background-color: lightgrey;
  margin-left: 10px;
  margin-right: 10px;
}
.homePage .center-container .products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin: 5px 4px 5px 4px;
}
.homePage .center-container .products-list-item .card-body .product-price {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  text-align-last: left;
  color: red;
}
.homePage .center-container .products-list-item .card-body .product-rate {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align-last: left;
}
.homePage .center-container .products-list-item .card-body .product-rate .active {
  color: orange;
}
.homePage .center-container .products-list-item .card-body .product-btns {
  padding: 4%;
  margin-bottom: 4%;
  overflow-wrap: normal;
}
.homePage .center-container .products-list-item .card-body .product-btns a {
  padding: 4%;
}
.homePage .right-container {
  text-align-last: left;
  float: right;
  display: inline-block;
  height: 100%;
  width: 25vw;
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.52, 1.27);
}
.homePage .right-container .cart-title {
  padding-top: 1rem;
  padding-left: 1rem;
}
.homePage .right-container .cart-title span {
  float: right;
  padding-right: 1rem;
}
.homePage .right-container .cart-list {
  margin-top: 10px;
  margin-left: 15px;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
.homePage .right-container .cart-list-header {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}
.homePage .right-container .cart-list-body {
  margin-top: 5px;
}
.homePage .right-container .cart-list-body td {
  padding: 10px;
}
.homePage .right-container .cart-checkout {
  width: 50%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.homePage .right-container.hidden {
  width: 0vw;
}

.register {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-container .register-form {
  width: 20%;
  padding: 1rem;
  margin-top: 15vh;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
}
.register-container .register-form-tab {
  width: 100%;
  display: none;
}
.register-container .register-form-tab .tab-label {
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgrey;
}
.register-container .register-form-tab-inputGroup {
  width: 100%;
  padding: 1rem;
}
.register-container .register-form-tab-inputGroup label {
  width: 100%;
  padding-bottom: 1rem;
  display: block;
  font-size: 0.8rem;
}
.register-container .register-form-tab-inputGroup input {
  width: 100%;
  padding: 0.5rem;
  height: 3rem;
  display: block;
  outline: none;
  border: none;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.52, 1.27);
}
.register-container .register-form-tab-inputGroup input:focus {
  -webkit-box-shadow: 0px 0px 3px 1px #00c853;
  -moz-box-shadow: 0px 0px 3px 1px #00c853;
  box-shadow: 0px 0px 3px 1px #00c853;
  animation-name: inputFocusOutlineAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 1.1, 1, 0.89);
}
.register-container .register-form-tab-inputGroup .consent {
  display: inline;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.register-container .register-form-tab-inputGroup .consent:checked {
  background-color: #fafafa;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}
.register-container .register-form-tab-inputGroup .consent:checked:after {
  content: "⤫";
  font-size: 14px;
  font-weight: 800;
  position: absolute;
  top: 1px;
  left: 4px;
  color: black;
}
.register-container .register-form-tab-inputGroup .consent-label {
  display: inline;
  vertical-align: middle;
  font-size: 0.6rem;
}
.register-container .register-form-btns {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}
.register-container .register-form-links {
  padding-top: 1rem;
  display: block;
}
.register-container .register-form-links .linkToLogin {
  text-align: center;
  padding-top: 1rem;
  border-top: 1px solid #f0f0f0;
  display: block;
  font-size: 0.7rem;
}

.register-form-progress {
  padding-top: 1rem;
  text-align: center;
  display: block;
}
.register-form-progress .step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #00c853;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.2;
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.52, 1.27);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
}
.register-form-progress .step.active {
  opacity: 1;
}

.login {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container .login-form {
  padding: 1rem;
  margin-top: 15vh;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
}
.login-container .login-form-label {
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgrey;
  font-size: 1.8rem;
}
.login-container .login-form-inputGroup {
  width: 100%;
  padding: 1rem 0 1rem 0;
}
.login-container .login-form-inputGroup label {
  padding-bottom: 1rem;
  font-size: 0.8rem;
  display: block;
}
.login-container .login-form-inputGroup input {
  width: 100%;
  padding: 0.5rem;
  height: 3rem;
  display: block;
  outline: none;
  border: none;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.52, 1.27);
}
.login-container .login-form-inputGroup input:focus {
  -webkit-box-shadow: 0px 0px 3px 1px #00c853;
  -moz-box-shadow: 0px 0px 3px 1px #00c853;
  box-shadow: 0px 0px 3px 1px #00c853;
  animation-name: inputFocusOutlineAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 1.1, 1, 0.89);
}
.login-container .login-form-btns {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}
.login-container .login-form-btns button {
  width: 100%;
}
.login-container .login-form-links {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.login-container .login-form-links .forgotPassword {
  padding-top: 1rem;
  border-top: 1px solid #f0f0f0;
  display: inline-block;
  font-size: 0.8rem;
}
.login-container .login-form-links .linkToRegister {
  padding-top: 1rem;
  border-top: 1px solid #f0f0f0;
  display: inline-block;
  font-size: 0.8rem;
}

.error-container {
  display: flex;
  justify-content: center;
}
.error-container .error {
  margin-top: 1rem;
  padding: 1rem;
  background-color: red;
  width: 30vh;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
}
.error-container .error-text {
  text-align: center;
  font-size: 1.2rem;
}

.checkout-title {
  margin-top: 1rem;
  text-align: center;
}
.checkout-container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin-top: 10vh;
  margin-left: 30%;
  margin-right: 30%;
}
.checkout-container .cart-item {
  border-top: 3px solid #00c853;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.checkout-container .cart-item-name {
  display: inline;
  float: left;
}
.checkout-container .cart-item-qty {
  display: inline;
}
.checkout-container .cart-item-price {
  display: inline;
}
.checkout-container .checkout-address .address {
  text-align: center;
  margin: 1rem;
}
.checkout-container .checkout-pay .pay-disabled {
  text-align: center;
  margin: 1rem;
}
.checkout-container .checkout-final-container {
  display: flex;
  flex-direction: column;
}
.checkout-btns {
  margin-top: 1rem;
  display: inline;
  text-align: center;
  padding: 1rem;
}
.checkout-btns a {
  padding: 0.7rem;
}

.usersapce-title {
  padding: 2rem;
  font-size: 1.5rem;
}

.userspace-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  height: 100%;
  width: 100%;
}
.userspace-container .userspace-personnal {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
  padding: 1rem;
  margin-top: 4rem;
}
.userspace-container .userspace-personnal-avatar {
  display: inline;
  margin-right: 1.6rem;
  flex-grow: 0.01;
}
.userspace-container .userspace-personnal-avatar img {
  border-radius: 100%;
}
.userspace-container .userspace-personnal-info {
  display: inline;
  flex-grow: 0.2;
}
.userspace-container .userspace-personnal-info-name {
  font-weight: bold;
}
.userspace-container .userspace-personnal-changebtn {
  flex-basis: 100px;
}
.userspace-container .userspace-address {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1rem;
  margin-top: 4rem;
}
.userspace-container .userspace-address-changebtn {
  flex-basis: 100px;
  align-self: center;
}
.userspace-container .userspace-address-title {
  font-size: 1.5rem;
}
.userspace-container .userspace-address-road {
  display: block;
  padding: 1rem;
}
.userspace-container .userspace-address-road-name {
  display: inline;
}
.userspace-container .userspace-address-road-number {
  display: inline;
}
.userspace-container .userspace-address-city {
  padding: 1rem;
}
.userorder-title {
  padding: 2rem;
  font-size: 1.5rem;
}

.userorder {
  padding-top: 5vh;
}
.userorder-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userorder-container .userorder-orderlist {
  border-collapse: collapse;
  width: 50vw;
  height: 100%;
}
.userorder-container .userorder-orderlist-header {
  background-color: lightgrey;
  border-bottom: 1px solid black;
  padding: 1rem;
}
.userorder-container .userorder-orderlist-body {
  margin-top: 5px;
}
.userorder-container .userorder-orderlist-body td {
  padding: 10px;
}

.navbar {
  height: 10vh;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
}
.navbar-list {
  padding: 1rem 0 1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-list-brand {
  flex-grow: 1;
}
.navbar-list-brand-logobrand .brand {
  display: inline-block;
  font-size: 2rem;
  vertical-align: middle;
}
.navbar-list-brand-logobrand .logo {
  display: inline-block;
  max-height: 50px;
  margin: 2px;
  vertical-align: middle;
}
.navbar-list-nav {
  flex-grow: 2;
}
.navbar-list-nav .search {
  display: inline;
  margin-right: 10px;
}
.navbar-list-nav .search-bar {
  padding-left: 4px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: inline;
  vertical-align: middle;
}
.navbar-list-nav .search i {
  display: inline;
  vertical-align: middle;
  margin: 0px 10px 0px 10px;
  height: 10px;
}
.navbar-list-nav .productFullList {
  display: inline;
  font-size: 1.5rem;
  vertical-align: middle;
}
.navbar-list-nav .productDiscountList {
  display: inline;
  font-size: 1.5rem;
  vertical-align: middle;
}
.navbar-list-auth {
  flex-grow: 1;
}
.navbar-list-auth .auth-login {
  display: inline;
}
.navbar-list-auth .auth-register {
  display: inline;
}
.navbar-list-user .user-name {
  display: inline;
  vertical-align: middle;
}
.navbar-list-user .user-name a {
  font-size: 1.5rem;
}
.navbar-list-user .user-avatar {
  display: inline;
  vertical-align: middle;
  padding: 1rem;
}
.navbar-list-user .user-avatar img {
  z-index: 10000;
  border-radius: 100%;
  border: 3px solid #00c853;
}
.navbar-list-menu {
  position: fixed;
  z-index: 4000;
  height: 100%;
  width: 100%;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.52, 1.27);
}
.navbar-list-menu .menu {
  position: absolute;
  top: 339px;
  bottom: 100px;
  right: 250px;
  z-index: 1000;
  max-width: 3rem;
  max-height: 100%;
}
.navbar-list-menu .menu .menu-container .menu-list {
  z-index: 6000;
  top: 20vh;
  height: 50%;
  width: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px;
  align-items: flex-end;
  justify-content: flex-start;
  background: #fff;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
}
.navbar-list-menu .menu .menu-container .menu-list-item {
  pointer-events: all;
  padding: 1rem;
}

.btn {
  border-radius: 2px;
  border: 1px solid black;
  padding: 2%;
  white-space: nowrap;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}
.btn.btn-primary {
  background-color: #00c853;
  border-color: #00c853;
  color: #000;
}
.btn.btn-primary:hover {
  -webkit-box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.1);
  background-color: #0fb956;
}
.btn.btn-secondary {
  background-color: #c81400;
  border-color: #c81400;
  color: #000;
}
.btn.btn-light {
  padding: 0;
  background-color: #5efc82;
  border-color: #5efc82;
  color: #fff;
}
.btn.btn-next {
  float: right;
  background-color: #00c853;
  border-color: #00c853;
  color: #000;
}
.btn.btn-next:hover {
  -webkit-box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.1);
  background-color: #0fb956;
}
.btn.btn-back {
  float: right;
  background-color: rgba(0, 0, 0, 0);
  border-color: #00c853;
  border-width: 2px;
  color: #000;
}
.btn.btn-back:hover {
  -webkit-box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.01);
}
.btn.btn-disabled {
  background-color: lightgrey;
  border: none;
  color: #fff;
  opacity: 38%;
}
.btn.btn-disabled:hover {
  box-shadow: none;
}

.card {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  background-color: #e0ffed;
  border-radius: 2px;
}
.card-header {
  padding: 2px 10px;
  max-height: 100%;
}
.card-header-title {
  font-weight: bold;
  text-align: center;
}
.card-header-image img {
  height: 100px;
}
.card-body {
  padding: 2px 10px;
}
.card-body-title {
  font-weight: bold;
  text-align: center;
}
.card-footer {
  padding: 2px 10px;
}
.card-footer-title {
  font-weight: bold;
  text-align: center;
}
.card-separator {
  border-top: 2px dotted #bbb;
  margin: 0;
  padding: 0;
}
.card:hover {
  -webkit-box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.1);
}

body {
  background-color: #f9fffb;
  color: #000;
  height: 100vh;
  line-height: 1;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1, h2, h3 {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}
a :visited {
  text-decoration: none;
}

.text-secondary {
  color: #c81400;
}

header {
  position: relative;
  width: 100%;
  padding: 0rem;
  font-family: "Roboto", sans-serif;
}

main {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

/*# sourceMappingURL=master.css.map */
